@page "/"
@inherits BlazorPhone.Pages.HomeBase

<div class="keypad-grid">
    @foreach (var key in Keys)
    {
        <button class="btn btn-primary keypad-button" @onclick="() => HandleClick(key.ToString())">@key</button>
    }
</div>
